In [1]:
# imports
from pickle import TRUE
import pandas as pd
import requests
import time
import warnings
from selenium.webdriver.common.by import By
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
import base64
from io import StringIO
import creds


warnings.filterwarnings("ignore")

In [2]:
service=Service(ChromeDriverManager().install())

# Instanciando o Objeto ChromeOptions
options = webdriver.ChromeOptions()

# Passando algumas opções para esse ChromeOptions
options.add_argument('--headless')
options.add_argument('--no-sandbox')
options.add_argument('--disable-dev-shm-usage')

# Criação do WebDriver do Chrome
wd_Chrome = webdriver.Chrome(service=service, options=options)

In [3]:
wd_Chrome.get("https://www.fundamentus.com.br/")

wd_Chrome.find_element('xpath', '/html/body/div[1]/div[1]/div[1]/span/a[1]').click()


wd_Chrome.find_element('xpath', '/html/body/div[1]/div[2]/form/input').click()

In [4]:
table_element = wd_Chrome.find_element('id', 'resultado')

# Get the HTML content of the table
table_html = table_element.get_attribute('outerHTML')

# Use Pandas to read the HTML and create a DataFrame
df = pd.read_html(table_html)[0]

In [5]:
lista_papel = df.Papel.to_list()

In [8]:
lista_empresa = []
lista_setor = []
lista_subsetor = []
lista_mes = []
lista_30d = []
lista_12m = []

for papel in lista_papel:
    wd_Chrome.get("https://www.fundamentus.com.br/")

    wd_Chrome.find_element('xpath', '/html/body/div[1]/div[1]/div[1]/span/a[1]').click()


    wd_Chrome.find_element('xpath', '/html/body/div[1]/div[2]/form/input').click()

    # clica na ação
    wd_Chrome.find_element('xpath', f'//a[@href="detalhes.php?papel={papel}"]').click()

    # trazer empresa e o setor
    empresa = wd_Chrome.find_element('xpath', '/html/body/div[1]/div[2]/table[1]/tbody/tr[3]/td[2]/span').text
    setor = wd_Chrome.find_element('xpath', '/html/body/div[1]/div[2]/table[1]/tbody/tr[4]/td[2]/span/a').text
    subsetor = wd_Chrome.find_element('xpath', '/html/body/div[1]/div[2]/table[1]/tbody/tr[5]/td[2]/span/a').text

    mes = wd_Chrome.find_element('xpath', '/html/body/div[1]/div[2]/table[3]/tbody/tr[3]/td[2]/span/font').text
    _30d = wd_Chrome.find_element('xpath', '/html/body/div[1]/div[2]/table[3]/tbody/tr[4]/td[2]/span/font').text
    _12m = wd_Chrome.find_element('xpath', '/html/body/div[1]/div[2]/table[3]/tbody/tr[5]/td[2]/span/font').text


    time.sleep(1.5)

    lista_empresa.append(empresa)
    lista_setor.append(setor)
    lista_subsetor.append(subsetor)
    lista_mes.append(mes)
    lista_30d.append(_30d)
    lista_12m.append(_12m)

    print(empresa)

PRINER ON NM
ATOMPAR ON
WDC NETWORKS ON NM
LOCAWEB ON NM
EMBRAER ON
CIA MARCOPOLO PN
CIA MARCOPOLO ON
3R PETROLEUM ON NM
EXCELSIOR PN
AMPLA ENERG ON
MOVIDA ON NM
COSAN SA INDUSTRIA E COMERCIO ON
OUROFINO S/A ON NM
DOHLER ON
DOHLER PN
USIMINAS PNB N1
MAGAZ LUIZA ON NM
MINUPAR ON
HAPVIDA ON NM
BAUMER ON
QUERO-QUERO ON NM
BAUMER PN
RECRUSUL ON
CSN ON
CLEARSALE ON NM
ALPARGATAS ON N1
PORTOBELLO S/A ON
USIMINAS PNA N1
QUALICORP ON NM
USIMINAS ON N1
ALPARGATAS PN N1
COGNA ON
AMBIPAR ON NM
TELEBRAS ON
MRV ON NM
ORIZON ON NM
ESPACOLASER ON NM
ANIMA ON NM
IOCHPE-MAXION ON
GUARARAPES CONFECÇÕES ON
OCEANPACT ON NM
SYN PROP TEC ON NM
MELIUZ ON NM
TELEBRAS PN
NORDON INDS METALURGICAS SA ON
ZAMP S.A. ON
Metalfrio ON NM
AERIS ON NM
ESTAPAR ON NM
ENJOEI ON NM
DIAGNOSTICOS DA AMERICA SA ON
AZEVEDO & TRAVASSOS ON
RECRUSUL PN
AZEVEDO & TRAVASSOS PN
CBA ON NM
BIOMM SA ON
BRF Foods ON NM
SER EDUCA ON NM
B TECH EQI ON
Tenda ON NM
KORA SAUDE ON NM
CEEE-D ON N1
INFRACOMM ON NM
ADVANCED-DH ON
AZUL PN
ALLIAR ON NM
Marfrig ON NM
CEEE-D PN N1
GAFISA ON
CVC BRASIL ON NM
WETZEL S.A. PN
BRASKEM ON N1
BRASKEM PNA N1
TRIUNFO PARTICIPACOES SA ON NM
SANTANENSE ON
MOBLY ON NM
BAHEMA ON
BRASKEM PNB N1
WESTWING ON NM
MULTILASER ON NM
AGROGALAXY ON NM
TC ON NM
B TECH EQI PN
Generalshopp ON NM
DOTZ SA ON NM
SANTANENSE PN
ESTRELA ON
VIVER ON NM
Fer Heringer ON NM
JOÃO FORTES ENGENHARIA S.A. ON
POMIFRUTAS ON NM
ESTRELA PN
RENAUX ON
COTEMINAS ON
CASAS BAHIA ON
INEPAR S/A ON
LIGHT SA ON
GP INVESTMENTS, LTD DR3
SEQUOIA LOG ON NM
RENAUX PN
INEPAR S/A PN
PÃO DE AÇÚCAR ON
ALPHAVILLE ON NM
LOJAS MARISA ON NM
REFINARIA DE PETRÓLEOS DE MANGUINHOS S.A ON
ROSSI RESIDENCIAL ON N1
SANSUY S.A. INDÚSTRIA DE PLÁSTICOS PNA
COTEMINAS PN
NEXPE ON
Springs ON NM
TEKA S.A. PN
PARANAPANEMA S.A. ON
AMERICANAS ON
OI ON N1
OSX BRASIL ON NM
PDG REALT ON NM
OI ON N1
BR PARTNERS UNT N2
HERCULES S/A PN
ATMASA ON
MUNDIAL S/A ON
MANGELS PN N1
HOTEIS OTHON S.A. PN
GRADIENTE ON
RENOVA UNT N2
RENOVA ON N2
RENOVA PN N2
BARDELLA PN
BARDELLA ON
PARQUE ANHEMBI ON
PARQUE ANHEMBI PNA
HAGA ON
KARSTEN ON
LUPATECH ON NM
KARSTEN PN
PETROBRAS PN
METALÚRGICA GERDAU PN N1
PETROBRAS ON
METALÚRGICA GERDAU ON N1
BRADESPAR S/A ON N1
HAGA ON
Suzano Papel ON
GERDAU S.A. ON N1
BANCO DA AMAZONIA S.A. ON
CIA HABITASUL PNA
CIA. DE FIAÇÃO E TECIDOS CEDRO CACHOEIRA ON
CELESC ON N2
BRADESPAR S/A PN N1
CELESC PN N2
GERDAU S.A. PN N1
EMBPAR S/A ON
IMC S/A ON NM
CIA. DE FIAÇÃO E TECIDOS CEDRO CACHOEIRA PN
ALLOS ON
BANCO DO NORDESTE ON
BANCO DO BRASIL S.A. ON
GRUPO NATURA ON NM
CAL S/A ON
TECHNOS ON NM
POSITIVO TEC ON NM
METISA PN
CEMIG PN N1
BOMBRIL SA PN
CEMAR ON MB
MONTEIRO ARANHA ON
IRANI ON
BANCO MERCANTIL DO BRASIL S/A PN
SANEPAR ON
NEOENERGIA ON NM
ROMI ON
JALLESMACHAD ON NM
CIA ENERG CEARA - COELCE PNA
SANEPAR UNT N2
SANEPAR PN
EUCATEX PN
GRAZZIOTIN PN
PENALTY ON
COELBA PNA
EUCATEX ON
GRAZZIOTIN ON
PLASCAR PARTICIPAÇÕES INDUSTRIAIS S.A ON
CIELO ON NM
ELECTRO AÇO ALTONA S/A ON
COELBA ON
Pine PN
MITRE REALTY ON NM
CEB - COMPANHIA ENERGÉTICA DE BRASÍLIA PNA
PETRORECONCA ON NM
COPASA MG ON
CEMIG ON N1
COSERN PNB
BANCO MERCANTIL DO BRASIL S/A ON
COSERN PNA
AUREN ON NM
ELECTRO AÇO ALTONA S/A PN
RNI ON NM
CEB - COMPANHIA ENERGÉTICA DE BRASÍLIA ON
SLC Agricola ON NM
DEXXOS PAR PN
DEXXOS PAR ON
MRS LOGÍSTICA S/A PNB MB
MRS LOGÍSTICA S/A PNB MB
MRS LOGÍSTICA S/A PNA MB
MRS LOGÍSTICA S/A PNA MB
ABC Brasil PN N2
BANRISUL S/A PNB
MARCOPOLO ON
KEPLER WEBER SA ON
VALE ON NM
BANRISUL S/A ON
MAHLE METAL LEVE ON
TEKNO PN
CEB - COMPANHIA ENERGÉTICA DE BRASÍLIA PNB
DUKE ENERGY INT,GERAÇÃO PARANAPANEMA SA PN
MONARK ON
DUKE ENERGY INT,GERAÇÃO PARANAPANEMA SA ON
BANESE PN
MRS LOGÍSTICA S/A ON MB
MRS LOGÍSTICA S/A ON MB
COSERN ON
Pine ON N1
TRANSMISSÃO PAULISTA PN N1
ITAÚSA PN N1
ITAÚSA ON N1
MOURA DUBEUX ON NM
SCHULZ PN
SAO MARTINHO ON NM
BANESE ON
WLM ON
METALURGICA RIOSULENSE S/A PN
EQTL PARA PNC
BANCO MERCANTIL DE INVESTIMENTOS SA PN
DEXCO ON
FERBASA PN
CPFL ENERGIA S.A. ON
VALID ON NM
EQTL PARA ON
ELEKTRO ELETRICIDADE E SERVIÇOS S.A. PN
TAURUS ARMAS ON
TAURUS ARMAS PN
PORTO SEGURO SA ON
BANESTES S/A ON
ETERNIT ON
VULCABRAS S/A. ON
3TENTOS ON NM
KLABIN ON N2
KLABIN UNT N2
KLABIN PN N2
BBSEGURIDADE ON NM
BLAU ON NM
MARCOPOLO PN N2
AURA 360 DR3
TIME FOR FUN ON NM
PETRORIO ON
ITAUUNIBANCO ON N1
PETTENATI PN
BANESTES S/A PN
VESTE ON
WLM PN
UNIPAR PARTICIPAÇÕES S.A. ON
PLANOEPLANO ON NM
ALLIED ON NM
BANRISUL S/A PNA
Trisul ON NM
LAVVI ON NM
Tegma ON NM
TUPY ON
EQTL PARA PNA
Even ON NM
CSU DIGITAL ON
Helbor ON
JHSF Part ON NM
RANDON S.A. IMPLEMENTOS E PARTICIPAÇÕES ON N1
BOA SAFRA ON NM
JULIO SIMOES ON NM
BRASILAGRO ON NM
UNIPAR PARTICIPAÇÕES S.A. PNB
BANCO MERCANTIL DE INVESTIMENTOS SA ON
CAMIL ON NM
CYRELA BRAZIL REALTY PN
TRANSMISSÃO PAULISTA ON N1
REDE EMPRESAS DE ENERGIA ELÉTRICA S.A. ON
RANDON S.A. IMPLEMENTOS E PARTICIPAÇÕES PN N1
BANCO BRADESCO S.A. ON N1
HBR REALTY ON NM
WIZ CO ON
ENERGISA PN
ITAUUNIBANCO PN N1
ENGIE BRASIL ON
UNIPAR PARTICIPAÇÕES S.A. PNA
SONDOTECNICA S/A. PNA
PADTEC ON
Log-In ON NM
UNIFIQUE ON NM
TERRASANTAPA ON NM
TAESA ON N2
CAIXA SEGURI ON NM
TAESA PN N2
BRISANET ON NM
TAESA UNT
ECORODOVIAS ON NM
BANCO BRADESCO S.A. PN N1
SONDOTECNICA S/A. PNB
Minerva ON NM
FERBASA ON
RAIZEN PN N2
GRENDENE SA ON
HYPERA ON
ALUPAR PN N2
CURY S/A ON NM
ALUPAR UNT N2
BTGP BANCO PNA
ALUPAR ON N2
INTELBRAS ON NM
BANCO BMG PN N1
CSNMINERACAO ON N2
VIBRA ON
SANTANDER ON
ENERGISA MT ON
ENERGISA UNT N2
UNICASA ON NM
MELNICK ON NM
MILLS ON NM
Direcional Engenharia ON NM
PETTENATI ON
PROFARMA ON NM
FRAS-LE S.A. ON
ENERGISA MT ON
FICA ON
VITTIA ON NM
GRUPO MATEUS ON NM
ODONTOPREV ON NM
SANTANDER UNT
COPEL ON
ALFA DE INVESTIMENTO PN
LOG COM PROP ON NM
ULTRAPAR PARTICIPAÇÕES SA ON
AMBEV S/A ON
ALFA DE INVESTIMENTO ON
SANTANDER PN
BANCO PAN PN
LOPES BRASIL ON NM
COPEL UNT
COPEL PNB
BRB ON
GRUPO SBF ON
TECNISA ON NM
CRISTAL PNA
CRISTAL PNB
VAMOS ON NM
BTGP BANCO UNT
BRB ON
BEMOBI TECH ON NM
CONSORCIO ALFA PNF
CONSORCIO ALFA PNA
ALFA FINANCEIRA PN
CONSORCIO ALFA PND
RENNER ON
ALFA FINANCEIRA ON
CONSORCIO ALFA PNE
CONSORCIO ALFA PNB
CRISTAL ON
DESKTOPSIGMA ON NM
SABESP ON NM
WHIRLPOOL S.A. ON
TIM ON NM
AFLUENTE T ON
Multiplan ON N2
CONSORCIO ALFA ON
TELEF BRASIL ON
AREZZO CO ON NM
B3 ON
WHIRLPOOL S.A. PN
WILSON SONS ON NM
ALFA HOLDINGS PNB
DMFINANCEIRA ON
EZTec ON NM
TRACK FIELD PN
ALFA HOLDINGS PNA
ALFA HOLDINGS ON
D1000VFARMA ON NM
IGUATEMI S.A ON
GRUPO SOMA ON NM
SBPAR ON NM
GPS ON NM
TREVISA INVESTIMENTOS SA PN
EQUATORIAL ENERGIA S.A. ON NM
VIVARA S.A. ON NM
PANVEL FARMÁCIAS ON
CIA. DE PARTICIPAÇÕES ALIANÇA DA BAHIA ON
M.DIASBRANCO ON NM
CRUZEIRO EDU ON NM
EMAE PN
IGUATEMI S.A ON N1
ASSAI ON NM
ENERGISA ON
BTGP BANCO ON
VIVEO ON NM
FLEURY ON NM
TOTVS ON NM
IGUATEMI S.A UNT N1
CIA. DE PARTICIPAÇÕES ALIANÇA DA BAHIA PN
WEG SA ON N1
MATER DEI ON NM
ONCOCLINICAS ON NM
COMPANHIA DE CONCESSÕES RODOVIÁRIAS ON NM
PAGUE MENOS ON NM
ELETROBRÁS ON
NUTRIPLANT ON
GOL LINHAS AEREAS INTELIGENTES SA PN
NEOGRID ON NM
ARMAC ON NM
SMART FIT ON NM
YDUQS PART ON
ELETROBRÁS PNB
COPEL PNA
LIGHTPAR ON
JOSAPAR S/A ON
REDE D OR ON NM
SÃO CARLOS EMPREEND.E PARTICIPAÇÕES S.A. ON
ELETROMIDIA ON NM
LOCALIZA RENT A CAR ON
COMPANHIA DE GÁS DE SÃO PAULO - COMGÁS ON
JBS ON NM
RUMO S.A. ON NM
RAIADROGASIL ON
COMPANHIA DE GÁS DE SÃO PAULO - COMGÁS PNAS
AES BRASIL ON NM
CEA MODAS ON NM
PETZ ON NM
HIDROVIAS ON NM
ALPER S.A. ON
COMPANHIA DE SEGUROS ALIANÇA DA BAHIA ON
ENEVA ON
ELETROBRÁS PNA
ENAUTA PART ON
DTCOM ON
GETNINJAS ON NM
IRBBRASIL RE ON NM
COMPANHIA DE SEGUROS ALIANÇA DA BAHIA PN
SERENA ON NM
CARREFOUR BR ON NM
PANATLANTICA ON
SIMPAR ON NM
PANATLANTICA PN
MERCANTIL BRASIL PN

In [9]:
df['empresa'] = lista_empresa
df['setor'] = lista_setor
df['sub_setor'] = lista_subsetor
df['var_mes'] = lista_mes
df['var_30d'] = lista_30d
df['var_12m'] = lista_12m

In [10]:

# Function to push DataFrame to GitHub
def push_dataframe_to_github(dataframe, file_name, repository):
    # Convert DataFrame to CSV in-memory
    csv_data = StringIO()
    dataframe.to_csv(csv_data, index=False)
    csv_content = csv_data.getvalue()

    # Encode content to Base64
    encoded_content = base64.b64encode(csv_content.encode()).decode()

    # Check if the file exists
    url_get = f'https://api.github.com/repos/{username}/{repository}/contents/{file_name}'
    headers_get = {'Authorization': f'token {creds.token}'}

    response_get = requests.get(url_get, headers=headers_get)
    response_get_json = response_get.json()

    # Extract the SHA from the response
    current_sha = response_get_json.get('sha')

    # Push data directly to GitHub using GitHub API
    url_put = f'https://api.github.com/repos/{username}/{repository}/contents/{file_name}'
    headers_put = {
        'Authorization': f'token {creds.token}',
        'Content-Type': 'application/json'
    }

    data_put = {
        'message': f'Update {file_name}',
        'content': encoded_content
    }

    # If the file exists, update it; otherwise, create it
    if current_sha is not None:
        data_put['sha'] = current_sha

    response_put = requests.put(url_put, headers=headers_put, json=data_put)

    if response_put.status_code == 200:
        print(f'Data pushed to {file_name} on GitHub successfully!')
    elif response_put.status_code == 201:
        print(f'{file_name} created on GitHub successfully!')
    else:
        print(f'Error: {response_put.status_code}, {response_put.text}')

# GitHub repository details
username = 'alanhassan'
repository = 'stocks_panel'

In [2]:
df = pd.read_csv('df.csv')

In [3]:
df.head()

,Papel,empresa,setor,sub_setor,Cotação,P/L,EV/EBITDA,P/VP,ROE,Div.Yield,Cresc. Rec.5a,Dív.Brut/ Patrim.,var_mes,var_30d,var_12m
0,PRNR3,PRINER ON NM,Serviços Diversos,Serviços Diversos,11.65,-1672.61,4.98,2.00,-0.12,0.00,36.30,1.20,-0.43,2.92,40.87
1,ATOM3,ATOMPAR ON,Outros,Outros,2.14,-628.92,-11.12,2.78,-0.44,14.97,20.53,0.00,0.47,0.94,-0.37
2,LVTC3,WDC NETWORKS ON NM,Programas e Serviços,Programas e Serviços,4.08,-499.67,0.41,0.41,-0.08,0.33,-10.31,0.00,-2.63,-0.24,-51.14
3,LWSA3,LOCAWEB ON NM,Programas e Serviços,Programas e Serviços,6.13,-412.38,14.16,1.25,-0.30,0.85,41.70,0.02,2.00,2.51,-9.99
4,EMBR3,EMBRAER ON,Material de Transporte,Material Aeronáutico e de Defesa,21.90,-397.05,6.68,1.27,-0.32,0.00,21.60,1.12,-2.19,-5.36,45.13

In [4]:
# filtering columns

df = df[['Papel', 'empresa', 'setor', 'sub_setor', 'Cotação', 'P/L', 'EV/EBITDA', 'P/VP', 'ROE', 'Div.Yield', 'Cresc. Rec.5a', 'Dív.Brut/ Patrim.', 'var_mes', 'var_30d', 'var_12m']]

In [5]:
df.head()

,Papel,empresa,setor,sub_setor,Cotação,P/L,EV/EBITDA,P/VP,ROE,Div.Yield,Cresc. Rec.5a,Dív.Brut/ Patrim.,var_mes,var_30d,var_12m
0,PRNR3,PRINER ON NM,Serviços Diversos,Serviços Diversos,11.65,-1672.61,4.98,2.00,-0.12,0.00,36.30,1.20,-0.43,2.92,40.87
1,ATOM3,ATOMPAR ON,Outros,Outros,2.14,-628.92,-11.12,2.78,-0.44,14.97,20.53,0.00,0.47,0.94,-0.37
2,LVTC3,WDC NETWORKS ON NM,Programas e Serviços,Programas e Serviços,4.08,-499.67,0.41,0.41,-0.08,0.33,-10.31,0.00,-2.63,-0.24,-51.14
3,LWSA3,LOCAWEB ON NM,Programas e Serviços,Programas e Serviços,6.13,-412.38,14.16,1.25,-0.30,0.85,41.70,0.02,2.00,2.51,-9.99
4,EMBR3,EMBRAER ON,Material de Transporte,Material Aeronáutico e de Defesa,21.90,-397.05,6.68,1.27,-0.32,0.00,21.60,1.12,-2.19,-5.36,45.13

In [6]:
df.dtypes

Papel                 object
empresa               object
setor                 object
sub_setor             object
Cotação              float64
P/L                  float64
EV/EBITDA            float64
P/VP                 float64
ROE                  float64
Div.Yield            float64
Cresc. Rec.5a        float64
Dív.Brut/ Patrim.    float64
var_mes              float64
var_30d              float64
var_12m              float64
dtype: object

In [7]:
# adjusting types

df['P/L'] = df['P/L'].str.replace('[.,]', '', regex=True).astype(int)
df['EV/EBITDA'] = df['EV/EBITDA'].str.replace('[.,]', '', regex=True).astype(int)
df['P/VP'] = df['P/VP'].str.replace('[.,]', '', regex=True).astype(int)
df['ROE'] = df['ROE'].str.replace('[.,%]', '', regex=True).astype(int)
df['Div.Yield'] = df['Div.Yield'].str.replace('[.,%]', '', regex=True).astype(int)
df['Cresc. Rec.5a'] = df['Cresc. Rec.5a'].str.replace('[.,%]', '', regex=True).astype(int)
df['var_mes'] = df['var_mes'].str.replace('[.,%]', '', regex=True).astype(int)
df['var_30d'] = df['var_30d'].str.replace('[.,%]', '', regex=True).astype(int)
df['var_12m'] = df['var_12m'].str.replace('[.,%]', '', regex=True).astype(int)

AttributeError: Can only use .str accessor with string values!

In [ ]:
# adjusting columns

df['Cotação'] = df['Cotação']/100
df['P/L'] = df['P/L']/100
df['EV/EBITDA'] = df['EV/EBITDA']/100
df['P/VP'] = df['P/VP']/100
df['ROE'] = df['ROE']/100
df['Div.Yield'] = df['Div.Yield']/100
df['Dív.Brut/ Patrim.'] = df['Dív.Brut/ Patrim.']/100
df['var_mes'] = df['var_mes']/100
df['var_30d'] = df['var_30d']/100
df['var_12m'] = df['var_12m']/100
df['Cresc. Rec.5a'] = df['Cresc. Rec.5a']/100

In [8]:
df.head()

,Papel,empresa,setor,sub_setor,Cotação,P/L,EV/EBITDA,P/VP,ROE,Div.Yield,Cresc. Rec.5a,Dív.Brut/ Patrim.,var_mes,var_30d,var_12m
0,PRNR3,PRINER ON NM,Serviços Diversos,Serviços Diversos,11.65,-1672.61,4.98,2.00,-0.12,0.00,36.30,1.20,-0.43,2.92,40.87
1,ATOM3,ATOMPAR ON,Outros,Outros,2.14,-628.92,-11.12,2.78,-0.44,14.97,20.53,0.00,0.47,0.94,-0.37
2,LVTC3,WDC NETWORKS ON NM,Programas e Serviços,Programas e Serviços,4.08,-499.67,0.41,0.41,-0.08,0.33,-10.31,0.00,-2.63,-0.24,-51.14
3,LWSA3,LOCAWEB ON NM,Programas e Serviços,Programas e Serviços,6.13,-412.38,14.16,1.25,-0.30,0.85,41.70,0.02,2.00,2.51,-9.99
4,EMBR3,EMBRAER ON,Material de Transporte,Material Aeronáutico e de Defesa,21.90,-397.05,6.68,1.27,-0.32,0.00,21.60,1.12,-2.19,-5.36,45.13

In [16]:
df['prov'] = df['Papel'].str[:4]

In [20]:
df.drop_duplicates(subset='prov', keep='first', inplace=True)

In [23]:
df.drop(columns=['prov'], inplace=True)

In [24]:
df.shape

(339, 15)

In [27]:
# Push each DataFrame to GitHub
push_dataframe_to_github(df, 'df.csv', repository)

Data pushed to df.csv on GitHub successfully!

In [26]:
df.head()

,Papel,empresa,setor,sub_setor,Cotação,P/L,EV/EBITDA,P/VP,ROE,Div.Yield,Cresc. Rec.5a,Dív.Brut/ Patrim.,var_mes,var_30d,var_12m
0,PRNR3,PRINER ON NM,Serviços Diversos,Serviços Diversos,11.65,-1672.61,4.98,2.00,-0.12,0.00,36.30,1.20,-0.43,2.92,40.87
1,ATOM3,ATOMPAR ON,Outros,Outros,2.14,-628.92,-11.12,2.78,-0.44,14.97,20.53,0.00,0.47,0.94,-0.37
2,LVTC3,WDC NETWORKS ON NM,Programas e Serviços,Programas e Serviços,4.08,-499.67,0.41,0.41,-0.08,0.33,-10.31,0.00,-2.63,-0.24,-51.14
3,LWSA3,LOCAWEB ON NM,Programas e Serviços,Programas e Serviços,6.13,-412.38,14.16,1.25,-0.30,0.85,41.70,0.02,2.00,2.51,-9.99
4,EMBR3,EMBRAER ON,Material de Transporte,Material Aeronáutico e de Defesa,21.90,-397.05,6.68,1.27,-0.32,0.00,21.60,1.12,-2.19,-5.36,45.13